.samples {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample {
  display: flex;
  align-items: center;
}

.sample__url {
  margin-right: 75px;
}

.sample__instrument {
  margin-right: 25px;
}

.sample__play-button {
  margin-right: 50px;
}

.button {
  margin-left: 75px;
}

.drops {
  display: flex;
  padding-top: 50px;
  padding-left: 100px;
  margin-bottom: 100px;
}

.drops__field {
  margin-right: 10px;
}
