.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
}
.logo {
  font-size: 1.5em;
  font-weight: bolder;
  margin-right: 25px;
}
